<h2>{{localize "WIKI.SelectFolder"}}</h2>
<select id="folder" style="width: 100%; margin-bottom: 3px">
  <option value="null">{{localize "WIKI.NoFolder"}}</option>
  {{#each folders as |folder|}}
  <option value="{{folder.id}}">{{folder.name}}</option>
  {{/each}}
</select>
