#wikijs-integration-browser {
  min-width: 700px;
  .hidden {
    display: none;
  }
}
.wikijs-integration .window-content {
  display: block;
  flex-direction: initial;
  flex-wrap: initial;
  padding: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wikijs-container {
  display: flex;
  flex-direction: row;
  gap: 1px 1px;
}

.wikijs-integration.browser {
  main {
    height: -webkit-fill-available;
  }
  article {
    max-height: inherit;
    word-wrap: normal;
  }
}

#loading-indicator {
  margin-top: 200px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

#importArticle {
  margin-top: 3px;
}

#nav-panel {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 0 2px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  > * {
    margin: 2px;
  }
  ul {
    padding: 0 0 0 0.5em;
    list-style: none;
    li {
      margin: 2px;
      font-size: 16px;
    }
  }
}

.wikijs-scrollwrapper {
  overflow-y: auto;
  max-width: 100%;
  min-width: 35%;
  //margin-right: -0.75%;
}

.wikijs-article-frame {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

article {
  margin-left: 3px;
}
